<div class="p-5 d-flex justify-content-center">
    <div class="text-center">
        <img class="circle" src={{image}} alt={firstName} />
        <h4 class="mt-1">Hello {{firstName}} {{lastName}}</h4>
    </div>
</div>